<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>784762427996-b8ed3kijjjgqvd4bliet05suht50hlem.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.784762427996-b8ed3kijjjgqvd4bliet05suht50hlem</string>
	<key>API_KEY</key>
	<string>AIzaSyAoOdiX3gx_zdfTZjztBuM4eyKE4fvPZgA</string>
	<key>GCM_SENDER_ID</key>
	<string>784762427996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.katosteve.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-a0b26</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-a0b26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:784762427996:ios:bfadc2cd069e0c39c2e499</string>
</dict>
</plist>